<section id="second" class="second">
  <div class="h-100 d-flex align-items-center">
    <div class="container">
      <div class="row d-flex flex-column align-items-center">
        <mat-card class="mat-card col-11 col-sm-10 col-md-8 col-lg-6 d-flex flex-column flex-sm-row align-items-center mb-3"
          [ngClass]="{'slideInAnimation': showSlidInAnimation}">
          <img class="second_img" src="/assets/images/slogan_1.svg">
          <h5 class="second_slogan" [innerHTML]="'second.slogan1' | translate">
          </h5>
        </mat-card>
        <mat-card class="mat-card col-11 col-sm-10 col-md-8 col-lg-6 d-flex flex-column flex-sm-row align-items-center mb-3"
          [ngClass]="{'slideInAnimation': showSlidInAnimation}">
          <img class="second_img" src="/assets/images/slogan_2.svg">
          <h5 class="second_slogan" [innerHTML]="'second.slogan2' | translate">
          </h5>
        </mat-card>
        <mat-card class="mat-card col-11 col-sm-10 col-md-8 col-lg-6 d-flex flex-column flex-sm-row align-items-center mb-3"
          [ngClass]="{'slideInAnimation': showSlidInAnimation}">
          <img class="second_img" src="/assets/images/slogan_3.svg">
          <h5 class="second_slogan" [innerHTML]="'second.slogan3' | translate">
          </h5>
        </mat-card>
      </div>
    </div>
  </div>
</section>
