.second{
    background-color: #3F51B5;
    height: 50vh;
    max-height: 560px;
    max-width: 100%;
    position: relative;
    // overflow: hidden;
    @media screen and (max-width: 768px) {
      // max-height: 500px;
    }
    .second_slogan{
        font-family: "Noto Sans TC";
        color: white;
        font-size: 20px;
        letter-spacing: 0.4px;
        line-height: 28px;
        font-weight: 300;
    }
  }
