<section class="second">
  <div class="h-100 d-flex align-items-center">
    <div class="container">
      <div class="row mt-md-1">
        <div class="col-4 flex-column">
          <img src="/assets/images/sloganBase.svg" width="50%" height="auto"> <!-- loracy will finish the assets~ -->
          <h5 class="second_slogan text-center my-3">
              探討 Angular 的現在與未來，<br>
              連結世界從此開始。
          </h5>
        </div>
        <div class="col-4 flex-column">
          <img src="/assets/images/sloganBase.svg" width="50%" height="auto">
          <h5 class="second_slogan text-center my-3">
              台灣首場大型 Angular 盛會，<br>
              點燃滿腔技術熱血。
          </h5>
        </div>
        <div class="col-4 flex-column">
          <img src="/assets/images/sloganBase.svg" width="50%" height="auto">
          <h5 class="second_slogan text-center my-3">
              企業級現代化網站必備前端技術，<br>
              展開你與人才對話。
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
