<section class="second">
  <div class="h-100 d-flex align-items-center">
    <div class="container">
      <div class="row d-flex flex-column align-items-center">
        <mat-card class="mat-card col-11 col-sm-10 col-md-8 col-lg-6 d-flex flex-column flex-sm-row align-items-center mb-3">
          <img class="second_img" src="/assets/images/slogan_1.svg">
          <h5 class="second_slogan">
              探討 Angular 的現在與未來<br>
              連結世界從此開始
          </h5>
        </mat-card>
        <mat-card class="mat-card col-11 col-sm-10 col-md-8 col-lg-6 d-flex flex-column flex-sm-row align-items-center mb-3">
          <img class="second_img" src="/assets/images/slogan_2.svg">
          <h5 class="second_slogan">
              台灣首場大型 Angular 盛會<br>
              點燃滿腔技術熱血
          </h5>
        </mat-card>
        <mat-card class="mat-card col-11 col-sm-10 col-md-8 col-lg-6 d-flex flex-column flex-sm-row align-items-center mb-3">
          <img class="second_img" src="/assets/images/slogan_3.svg">
          <h5 class="second_slogan">
              企業級現代化網站必備前端技術<br>
              展開你與人才對話
          </h5>
        </mat-card>
      </div>
    </div>
  </div>
</section>
