<section id="schedule" class="section schedule-section align-center">
  <div class="container">
    <span class="icon section-icon icon-office-21"></span>
    <h3>活動議程</h3>
    <br />
    <br />

    <div class="col-md-10 col-md-offset-1">

      <!-- Schedule start -->
      <div class="row schedule">

        <!-- Navigation by day start -->
        <ul class="nav nav-schedule">
          <li class="active">
            <a href="#schedule3_day1" data-toggle="tab">
              <h5 class="highlight">Day 1</h5>
              <p class="text-alt">2018/11/24</p>
            </a>
          </li>
          <li>
            <a href="#schedule3_day2" data-toggle="tab">
              <h5 class="highlight">Day 2</h5>
              <p class="text-alt">2018/11/25</p>
            </a>
          </li>
        </ul>
        <!-- Navigation by day end -->

        <!-- First level content start -->
        <div class="tab-content">

          <!-- Day 1 content start -->
          <div id="schedule3_day1" class="tab-pane fade active in">

            <!-- Second level content start -->
            <div class="tab-content tab-content-schedule">

              <!-- Main content start -->
              <div id="schedule3_day1_main" class="tab-pane fade active in">

                <!-- Accordion start -->
                <div class="panel-group" id="schedule3_day1_main_timeline">

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper">
                      <span class="fa fa-cutlery"></span>
                    </div>
                    <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline" href="#schedule3_day1_main_time1"
                      class="schedule-item-toggle">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>1:00 PM</strong>
                      <h6 class="title">WorkShop - RxJS
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day1_main_time1" class="panel-collapse collapse in schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Kevin</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper"></div>
                    <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline" href="#schedule3_day1_main_time2"
                      class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>5:40 PM</strong>
                      <h6 class="title">Scaling into crowded space
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day1_main_time2" class="panel-collapse collapse schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Michael Lambert</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper">
                      <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                    </div>
                    <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline" href="#schedule3_day1_main_time3"
                      class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>7:00 PM</strong>
                      <h6 class="title">Close your eyes around the world
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day1_main_time3" class="panel-collapse collapse schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Michael Lambert</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper">
                      <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                    </div>
                    <a data-toggle="collapse" data-parent="#schedule3_day1_main_timeline" href="#schedule3_day1_main_time4"
                      class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>7:40 PM</strong>
                      <h6 class="title">Passion and people
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day1_main_time4" class="panel-collapse collapse schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Michael Lambert</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                </div>
                <!-- Accordion end -->

              </div>
              <!-- Main content end -->

            </div>
            <!-- Second level content end -->

          </div>
          <!-- Day 1 content end -->

          <!-- Day 2 content start -->
          <div id="schedule3_day2" class="tab-pane fade in">

            <!-- Second level content start -->
            <div class="tab-content tab-content-schedule">

              <!-- Main content start -->
              <div id="schedule3_day2_main" class="tab-pane fade active in">

                <!-- Accordion start -->
                <div class="panel-group" id="schedule3_day2_main_timeline">

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper">
                      <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                    </div>
                    <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline" href="#schedule3_day2_main_time1"
                      class="schedule-item-toggle">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>2:20 PM</strong>
                      <h6 class="title">How to organize great events
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day2_main_time1" class="panel-collapse collapse in schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Michael Lambert</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper">
                      <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                    </div>
                    <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline" href="#schedule3_day2_main_time3"
                      class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>7:00 PM</strong>
                      <h6 class="title">Close your eyes around the world
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day2_main_time3" class="panel-collapse collapse schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Michael Lambert</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                  <!-- Lecture start -->
                  <div class="panel schedule-item">
                    <div class="lecture-icon-wrapper">
                      <img src="../assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
                    </div>
                    <a data-toggle="collapse" data-parent="#schedule3_day2_main_timeline" href="#schedule3_day2_main_time4"
                      class="schedule-item-toggle collapsed">
                      <strong class="time highlight">
                        <span class="icon icon-office-24"></span>7:40 PM</strong>
                      <h6 class="title">Passion and people
                        <i class="icon icon-arrows-06"></i>
                      </h6>
                    </a>
                    <div id="schedule3_day2_main_time4" class="panel-collapse collapse schedule-item-body">
                      <article>
                        <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                          Ipsum has been the industry's standard dummy text ever since the 1500s, when
                          an unknown printer took a galley of type and scrambled it to make a type.</p>
                        <strong class="highlight speaker-name">Michael Lambert</strong>
                      </article>
                    </div>
                  </div>
                  <!-- Lecture end -->

                </div>
                <!-- Accordion end -->

              </div>
              <!-- Main content end -->

            </div>
            <!-- Second level content end -->

          </div>
          <!-- Day 2 content end -->

        </div>
        <!-- First level content end -->

      </div>
      <!-- Schedule end -->
    </div>
  </div>
</section>
