.footer {
  padding: 20px;
  background-color: #303f9f;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.18px;
  position: relative;
  font-family: 'Noto Sans TC';
  font-size: 16px;
  z-index: 2;
  .socials-nav {
    list-style: none;
    .socials-nav-item {
      margin: 0 15px;
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
  }
  .text-alt{
    font-weight: 300;
  }
}
