<footer class="footer">
  <div class="container">
    <div class="col-12 text-center">
      <div class="widget about-widget">
        <p class="text-alt">
          Angular Taiwan 是一個位於台灣並專注於 Angular 網站開發框架的開放社團，任何人都可以自由加入社團。
          <br>在這個社團內大家可以盡情的發布任何與 Angular 有關的文章、課程、影片，或是提出任何相關 Angular 相關的問題與討論。
        </p>
      </div>
    </div>
  </div>

  <div class="footer-base">
    <div class="container">
      <div class="socials-nav text-center">
        <a class="socials-nav-item" href="https://www.facebook.com/groups/augularjs.tw/">
          <span class="fab fa-facebook"></span>
        </a>
        <a class="socials-nav-item" href="https://github.com/augt">
          <span class="fab fa-github"></span>
        </a>
        <a class="socials-nav-item" href="https://www.youtube.com/c/AngularUserGroupTaiwan">
          <span class="fab fa-youtube"></span>
        </a>
        <a class="socials-nav-item" href="https://telegram.me/angulartw">
          <span class="fab fa-telegram"></span>
        </a>
      </div>
      <p class="text-center">
        All Rights Reserved © 2018
      </p>
    </div>
  </div>
</footer>
