<footer class="footer">
  <div class="container mt-3 mb-5">
    <div class="offset-0 offset-sm-1 col-12 col-sm-10 text-center">
      <div class="widget about-widget">
        <p class="text-alt" [innerHTML]="'footer' | translate">
        </p>
      </div>
    </div>
  </div>

  <div class="footer-base">
    <div class="container">
      <div class="socials-nav text-center">
        <a class="socials-nav-item" href="https://www.facebook.com/groups/augularjs.tw/">
          <span class="fab fa-facebook"></span>
        </a>
        <a class="socials-nav-item" href="https://github.com/angularTaiwan">
          <span class="fab fa-github"></span>
        </a>
        <a class="socials-nav-item" href="https://www.youtube.com/c/AngularUserGroupTaiwan">
          <span class="fab fa-youtube"></span>
        </a>
        <a class="socials-nav-item" href="https://telegram.me/angulartw">
          <span class="fab fa-telegram"></span>
        </a>
      </div>
      <p class="text-center">
        All Rights Reserved © 2018
      </p>
    </div>
  </div>
</footer>
