<section id="speakers" class="section align-center">
    <div class="container">
      <span class="icon section-icon icon-faces-users-04"></span>
      <h3>Speakers</h3>
      <p class="text-alt">Meet our
        <span class="highlight">professonals</span>
      </p>
      <br />
      <br />
  
      <div class="col-sm-4">
        <div class="speaker">
          <div class="photo-wrapper rounded">
            <img src="assets/img/speakers/speaker1.jpg" alt="John Doe" class="img-responsive">
          </div>
          <h3 class="name">ERIC BOLDY</h3>
          <p class="text-alt">
            <small>Project Manager</small>
          </p>
          <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
          <ul class="speaker-socials">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="speaker">
          <div class="photo-wrapper rounded">
            <img src="assets/img/speakers/speaker2.jpg" alt="John Doe" class="img-responsive">
          </div>
          <h3 class="name">JAMES ROCK</h3>
          <p class="text-alt">
            <small>VP Product @ Flopbox</small>
          </p>
          <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
          <ul class="speaker-socials">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="speaker">
          <div class="photo-wrapper rounded">
            <img src="assets/img/speakers/speaker3.jpg" alt="John Doe" class="img-responsive">
          </div>
          <h3 class="name">ANDREA WARRAETY</h3>
          <p class="text-alt">
            <small>Designer @ Winstagrap</small>
          </p>
          <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
          <ul class="speaker-socials">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="speaker">
          <div class="photo-wrapper rounded">
            <img src="assets/img/speakers/speaker4.jpg" alt="John Doe" class="img-responsive">
          </div>
          <h3 class="name">MARTIN BRANSON</h3>
          <p class="text-alt">
            <small>Evangelist @ Doogle</small>
          </p>
          <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
          <ul class="speaker-socials">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="speaker">
          <div class="photo-wrapper rounded">
            <img src="assets/img/speakers/speaker5.jpg" alt="John Doe" class="img-responsive">
          </div>
          <h3 class="name">AMY WARNER</h3>
          <p class="text-alt">
            <small>Graphic Designer</small>
          </p>
          <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
          <ul class="speaker-socials">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-sm-4">
        <div class="speaker">
          <div class="photo-wrapper rounded">
            <img src="assets/img/speakers/speaker2.jpg" alt="John Doe" class="img-responsive">
          </div>
          <h3 class="name">ALEC KROSOVIC</h3>
          <p class="text-alt">
            <small>Project Manager</small>
          </p>
          <p class="about">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            the industry's standard dummy text ever since the 1500s.</p>
          <ul class="speaker-socials">
            <li>
              <a href="#">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="fa fa-google-plus"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
  
      <div class="col-sm-12 align-center">
        <a href="elements/speakers.html" target="_blank" class="btn btn-outline-clr btn-md">SPEAKERS STYLES</a>
      </div>
  
    </div>
  </section>