<section id="speakers" class="section align-center">
  <h1 class="topic text-center">{{ 'speaker' | translate }}</h1>
  <div class="container">
    <div class="row d-flex justify-content-center" *ngIf="speakers.length>0; else comingsoon">
      <mat-card class="speaker-card" *ngFor="let speaker of speakers">
        <div class="speaker">
          <div class="photo-wrapper">
            <img [src]="speaker.img" alt="John Doe" class="img-responsive">
          </div>
          <div class="speaker-text">
            <h3 class="name">{{ speaker.name }}</h3>
            <p class="des text-alt">
              <small>{{speaker.company}}</small>
              <br/>
              <small>{{speaker.title}}</small>
            </p>
            <p class="about" [innerHTML]="speaker.about"></p>
          </div>
          <ul class="speaker-socials">
            <li *ngIf="speaker.fb">
              <a [href]="speaker.fb">
                <img src="../assets/images/facebook.svg" />
              </a>
            </li>
            <li *ngIf="speaker.twitter">
              <a [href]="speaker.twitter">
                <img src="../assets/images/twitter.svg" />
              </a>
            </li>
            <li *ngIf="speaker.github">
              <a [href]="speaker.github">
                <img src="../assets/images/github.svg" />
              </a>
            </li>
          </ul>
        </div>
      </mat-card>
    </div>
    <ng-template #comingsoon>
      <div class="row d-flex justify-content-center">
        <h2>~ {{ 'speakers.info' | translate }} ~</h2>
      </div>
    </ng-template>
  </div>

</section>
