<header class="header header-black">
  <div class="header-wrapper">
    <div class="container">
      <div class="col-sm-3 col-xs-12 navigation-header">
        <a href="#" class="logo">
          <img src="assets/img/logo.svg" alt="AngularTaiwan" width="185" height="50">
        </a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false"
          aria-controls="navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="col-sm-9 col-xs-12 navigation-container">
        <div id="navigation" class="navbar-collapse collapse">
          <ul class="navigation-list pull-left light-text">
            <li class="navigation-item">
              <a href="#speakers" class="navigation-link">講者</a>
            </li>
            <li class="navigation-item">
              <a href="#schedule" class="navigation-link">議程</a>
            </li>
            <li class="navigation-item">
              <a href="#prices" class="navigation-link">票價</a>
            </li>
            <li class="navigation-item">
              <a href="#contacts" class="navigation-link">聯絡資訊</a>
            </li>
          </ul>

          <a href="#" class="pull-right buy-btn">Buy Tickets</a>
        </div>
      </div>
    </div>
  </div>
</header>
