<section id="prices" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-shopping-04"></span>
    <h3>Tickets</h3>
    <p class="text-alt">Get yours why they are still
      <span class="highlight">available</span>
    </p>
    <br/>
    <br/>

    <div class="row">
      <div class="col-sm-4">
        <div class="package-column">
          <h6 class="package-title">Early Bird</h6>
          <div class="package-price">
            <span class="currency">$</span>33
          </div>
          <div class="package-detail">
            <ul>
              <li>
                <span class="fa fa-check check-icon"></span>Regular Seating</li>
              <li>
                <span class="fa fa-check check-icon"></span>Free Snacks</li>
              <li>
                <span class="fa fa-check check-icon"></span>Custom Badge</li>
            </ul>
          </div>
          <a href="#" class="btn btn-lg btn-outline-clr">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column special-column">
          <span class="sale-label uppercase">Hot!</span>
          <h6 class="package-title">Silver Pass</h6>
          <div class="package-price">
            <span class="currency">$</span>99
          </div>
          <div class="package-detail">
            <ul>
              <li>
                <span class="fa fa-check check-icon"></span>Regular Seating</li>
              <li>
                <span class="fa fa-check check-icon"></span>Free Snacks</li>
              <li>
                <span class="fa fa-check check-icon"></span>Custom Badge</li>
            </ul>
          </div>
          <a href="#" class="btn btn-lg">Buy now</a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="package-column">
          <h6 class="package-title">Gold Pass</h6>
          <div class="package-price">
            <span class="currency">$</span>150
          </div>
          <div class="package-detail">
            <ul>
              <li>
                <span class="fa fa-check check-icon"></span>Regular Seating</li>
              <li>
                <span class="fa fa-check check-icon"></span>Free Snacks</li>
              <li>
                <span class="fa fa-check check-icon"></span>Custom Badge</li>
            </ul>
          </div>
          <a href="#" class="btn btn-lg btn-outline-clr">Buy now</a>
        </div>
      </div>
    </div>
  </div>
</section>
