<div class="preloader-mask">
  <div class="preloader"></div>
</div>

<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
  <ul class="socials-nav">
    <li class="socials-nav-item">
      <!-- <a href="https://www.facebook.com/groups/augularjs.tw" target="_blank">
        <span class="fa fa-facebook"></span>
      </a> -->
    </li>
  </ul>
  <div class="heading-block centered-block align-center">
    <div class="container">
      <h5 class="heading-alt" style="margin-bottom: 8px;">
        <span class="fa fa-calendar-o base-clr-txt"></span>24.nov
        <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>台中麗寶</h5>
      <h1>Angular Taiwan 2018</h1>
      <!-- Countdown start -->
      <app-countdown [endDate]="eventDate"></app-countdown>

      <h6 class="thin base-font">
        Advance conference about
        <strong>Angular developement</strong>
      </h6>
      <!-- <div class="btns-container">
        <a href="#" class="btn btn-md" data-modal-link="email-ticket">GET TICKETS</a>
        <a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>
      </div> -->

      <!-- countdown end -->

    </div>
  </div>
</section>
<app-header></app-header>

<app-speakers></app-speakers>
<app-schedule></app-schedule>
<app-price></app-price>
<app-contact></app-contact>
<app-footer></app-footer>
