.section {
  padding-top: 80px;
  padding-bottom: 64px;
  // background: #f6f9fc;
  overflow: hidden;
}

.anchor {
  display: block;
  position: relative;
  visibility: hidden;
}

::ng-deep.mat-tab-labels .mat-tab-label {
  width: 50%;
  font-family: NotoSansCJKtc-Regular;
  font-size: 24px;
  color: rgba(1, 22, 39, 0.7);
  letter-spacing: 0.4px;
  line-height: 28px;
  &.mat-tab-label-active {
    color: rgba(1, 22, 39, 0.7);
  }
  .event-date {
    margin-left: 10px;
    font-family: Sansation-Regular;
    font-size: 20px;
    color: rgba(1, 22, 39, 0.6);
    letter-spacing: 0.25px;
  }
}
.schedule {
  list-style: none;
  padding-top: 40px;
  padding-left: 30px;
  @media screen and (max-width: 720px) {
    padding-top: 0;
    padding-left: 15px;
  }
  .schedule-item {
    min-height: 150px;
    @media screen and (max-width: 720px) {
      margin-bottom: 20px;
    }
    .section-box {
      display: flex;
      font-family: 'Sansation-Regular', 'Noto Sans TC', 'Helvetica Neue',
        sans-serif;
      font-size: 24px;
      color: rgba(1, 22, 39, 0.7);
      letter-spacing: 0.4px;
      line-height: 28px;
      @media screen and (max-width: 720px) {
        flex-wrap: wrap;
      }
      .time-info {
        border-right: 4px solid #edf2f5;
        width: 20%;
        text-align: right;
        height: auto;
        @media screen and (max-width: 720px) {
          width: 100%;
          text-align: left;
          border-right: none;
          border-left: 4px solid #edf2f5;
        }
        .keynote {
          display: inline-block;
          margin-top: 16px;
          margin-right: -4px;
          padding-right: 30px;
          height: 45px;
          line-height: 2;
        }
        .time {
          display: inline-block;
          margin-top: 16px;
          margin-right: -4px;
          border-right: 4px solid #3f51b5;
          padding-right: 30px;
          height: 45px;
          line-height: 2;
          @media screen and (max-width: 720px) {
            margin-right: 0;
            margin-left: -4px;
            padding-left: 15px;
            border-left: 4px solid #3f51b5;
            border-right: none;
            display: block;
          }
        }
      }
      .section-detail {
        padding: 25px 30px;
        width: 80%;
        mat-card {
          padding-right: 45px;
        }
        @media screen and (max-width: 720px) {
          width: 100%;
          padding: 0;
          margin: 10px 0;
        }
        .section-title {
          font-family: 'Sansation-Regular', 'Noto Sans TC', 'Helvetica Neue',
            sans-serif;
          font-size: 20px;
          color: rgba(1, 22, 39, 0.7);
          letter-spacing: 0.4px;
          line-height: 28px;
          margin: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          &.resttime {
            text-align: center;
            font-weight: bold;
          }
        }
        .section-speaker {
          font-family: 'Sansation-Regular', 'Noto Sans TC', 'Helvetica Neue',
            sans-serif;
          font-size: 16px;
          cursor: pointer;
          color: #3f51b5;
          letter-spacing: 0.2px;
          text-align: right;
          line-height: 2;
          white-space: nowrap;
        }
        .section-description {
          margin-top: 16px;
          font-family: 'Sansation-Regular', 'Noto Sans TC', 'Helvetica Neue',
            sans-serif;
          font-size: 14px;
          color: rgba(1, 22, 39, 1);
          letter-spacing: 0.25px;
          line-height: 20px;
        }
      }
    }
  }
}
