<section id="schedule" class="section align-center">
  <h1 class="topic text-center">{{ 'Agenda' | translate }}</h1>
  <div class="container">
    <div class="row justify-content-cneter justify-content-md-center">
      <mat-tab-group class="col-12 col-sm-12 col-md-10">

        <mat-tab>
          <ng-template mat-tab-label class="col-12 col-sm-12 col-md-6">
            專家演講
            <span class="event-date">11/20 Tue</span>
          </ng-template>
          <ul class="schedule">

            <li class="schedule-item">
              <div class="section-box">
                <div class="time-info">
                  <span class="time">09:00 - 10:30</span>
                </div>
                <div class="section-detail">
                  <mat-card>
                    <div class="row">
                      <h2 class="section-title col-10">Angular reactive forms with useful operators</h2>
                      <span class="section-speaker col-2">Jeff Wu</span>
                    </div>
                    <mat-card-content>
                      <p class="section-description">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </li>

            <li class="schedule-item">
              <div class="section-box">
                <div class="time-info">
                  <span class="time">09:00 - 10:30</span>
                </div>
                <div class="section-detail">
                  <mat-card>
                    <div class="row">
                      <h2 class="section-title col-10">Angular reactive forms with useful operators</h2>
                      <span class="section-speaker col-2">Jeff Wu</span>
                    </div>
                    <mat-card-content>
                      <p class="section-description">
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                        very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                      </p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </li>
          </ul>
        </mat-tab>

        <mat-tab>
          <ng-template mat-tab-label class="col-12 col-sm-12 col-md-6">
            工作坊
            <span class="event-date">11/21 Sun</span>
          </ng-template>
          Content 2
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</section>
