<section id="schedule" class="section align-center">
  <h1 class="topic text-center">{{ 'session' | translate }}</h1>
  <div class="container">
    <div class="row justify-content-cneter justify-content-md-center">
      <ul class="schedule">

        <li class="schedule-item" *ngFor="let session of sessions">
          <div class="section-box">
            <div class="time-info">
              <span class="time">{{ session.periodStart }} - {{ session.periodEnd }}</span>
            </div>
            <div class="section-detail">
              <mat-card>
                <div class="row" *ngIf="session.speaker">
                  <h2 class="section-title col-9">{{ session.topic }}</h2>
                  <span class="section-speaker col-3">{{ session.speaker }}</span>
                </div>
                <div class="row" *ngIf="!session.speaker">
                  <h2 class="section-title col-12">{{ session.topic }}</h2>
                </div>
                <mat-card-content *ngIf="session.description">
                  <p class="section-description" [innerHTML]="session.description">

                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
