<div class="preloader-mask">
  <div class="preloader"></div>
</div>

<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
  <ul class="socials-nav">
    <li class="socials-nav-item">
      <a href="#">
        <span class="fa fa-twitter"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="#">
        <span class="fa fa-facebook"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="#">
        <span class="fa fa-github"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="#">
        <span class="fa fa-vimeo-square"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="#">
        <span class="fa fa-google-plus"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="#">
        <span class="fa fa-instagram"></span>
      </a>
    </li>
  </ul>
  <div class="heading-block centered-block align-center">
    <div class="container">
      <h5 class="heading-alt" style="margin-bottom: 8px;">
        <span class="fa fa-calendar-o base-clr-txt"></span>28.nov
        <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>New York, NY</h5>

      <!-- Countdown start -->
      <app-countdown [endDate]="endDate"></app-countdown>

      <h6 class="thin base-font">Massive conference about
        <strong>web developement</strong>
      </h6>
      <div class="btns-container">
        <a href="#" class="btn btn-md" data-modal-link="email-ticket">GET TICKETS</a>
        <a href="#" class="btn btn-outline btn-md" data-modal-link="0">VIDEO</a>
      </div>

      <!-- countdown end -->

    </div>
  </div>
</section>
