<mat-toolbar color="primary" class="fixed-header justify-content-between  mat-elevation-z6">
  <img src="/assets/images/logo.svg">
  <h1 class="pl-sm-2">Angular Taiwan</h1>
  <nav class="ml-sm-auto">
    <a class="d-none d-md-inline-block" href="#" mat-button>講者</a>
    <a class="d-none d-md-inline-block" href="#" mat-button>議程</a>
    <a class="d-none d-md-inline-block" href="#" mat-button>票種</a>
    <a class="d-none d-md-inline-block" href="#" mat-button>地點</a>
    <a class="d-none d-lg-inline-block" href="#" mat-button>共筆</a>
    <button class="d-none d-sm-inline-block buy-ticket" mat-raised-button>BUY TICKET</button>

    <button class="d-lg-none" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <a class="d-md-none" href="#" mat-menu-item>講者</a>
      <a class="d-md-none" href="#" mat-menu-item>議程</a>
      <a class="d-md-none" href="#" mat-menu-item>票種</a>
      <a class="d-md-none" href="#" mat-menu-item>地點</a>
      <a href="#" mat-menu-item>共筆</a>
    </mat-menu>
  </nav>
</mat-toolbar>
<!-- mobile float action button -->
<button class="d-sm-none float" mat-fab><mat-icon>how_to_vote</mat-icon></button>
