<mat-toolbar color="primary" class="fixed-header justify-content-between  mat-elevation-z6">
  <img src="/assets/images/logo.svg">
  <h1 class="pl-sm-2">Angular Taiwan</h1>
  <nav class="ml-sm-auto">
    <a class="d-none d-md-inline-block header_link" href="#" mat-button>{{ 'speaker' | translate }}</a>
    <a class="d-none d-md-inline-block header_link" href="#" mat-button>{{ 'session' | translate }}</a>
    <a class="d-none d-md-inline-block header_link" href="#tickets" mat-button>{{ 'ticket' | translate}}</a>
    <a class="d-none d-md-inline-block header_link" href="#location" mat-button>{{ 'location' | translate}}</a>
    <a class="d-none d-lg-inline-block header_link" href="#" mat-button>{{ 'collaborative' | translate}}</a>
    <button class="d-none d-sm-inline-block buy-ticket" mat-raised-button>
      <mat-icon class="mr-1" svgIcon="ticket"></mat-icon>
      BUY TICKET
    </button>

    <button class="d-lg-none" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
      <a class="d-md-none" href="#" mat-menu-item>{{ 'speaker' | translate }}</a>
      <a class="d-md-none" href="#" mat-menu-item>{{ 'session' | translate }}</a>
      <a class="d-md-none" href="#tickets" mat-menu-item>{{ 'ticket' | translate}}</a>
      <a class="d-md-none" href="#location" mat-menu-item>{{ 'location' | translate}}</a>
      <a href="#" mat-menu-item>{{ 'collaborative' | translate}}</a>
    </mat-menu>
  </nav>
</mat-toolbar>
<!-- mobile float action button -->
<button class="d-sm-none float" mat-fab>
  <mat-icon svgIcon="ticket" style="width: 26px; height: 26px;"></mat-icon>
</button>
