<section id="tickets" class="tickets">
  <h1 class="topic text-center">Tickets</h1>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 col-lg-6">
        <div class="tickets-container">
          <h2 class="title text-center">專家演講</h2>
          <p class="date text-center">11/20 Tue</p>
        </div>

      </div>
      <div class="col-md-10 col-lg-6">
        <div class="tickets-container">
          <h2 class="title text-center">工作坊</h2>
          <p class="date text-center">11/21 Sun</p>
          <div class="ticket d-flex">
            <div class="ticket-wrapper" style="width: 65.5%">
              <div class="left-block">
                <div class="timestamp">09:00-15:30</div>
                <div class="event d-flex align-items-center">
                  <div>入門工作坊</div>
                  <mat-icon svgIcon="help" class="ml-2 help" color="primary"></mat-icon>
                </div>
              </div>
            </div>
            <div class="ticket-wrapper d-flex justify-content-center align-items-center" style="width: 34.5%">
              <div class="price text-center"> $123456</div>
            </div>
          </div>
          <div class="ticket d-flex">
              <div class="ticket-wrapper" style="width: 65.5%">
                <div class="left-block">
                  <div class="timestamp">09:00-15:30</div>
                  <div class="event d-flex align-items-center">
                    <div>入門工作坊</div>
                    <mat-icon svgIcon="help" class="ml-2 help" color="primary"></mat-icon>
                  </div>
                </div>
              </div>
              <div class="ticket-wrapper d-flex justify-content-center align-items-center" style="width: 34.5%">
                <div class="price text-center"> $123456</div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>
