.tickets {
  background: #f6f9fc;
  border: 1px solid #edf2f5;
  padding-top: 80px;
  padding-bottom: 64px;
  .tickets-container {
    padding: 40px;
    background: #ffffff;
    border: 2px solid #edf2f5;
    border-radius: 12px;
    .title {
      font-family: 'Noto Sans TC';
      font-size: 24px;
      color: rgba(1, 22, 39, 0.87);
      letter-spacing: 0.4px;
      line-height: 28px;
    }
    .date {
      font-family: 'Sansation-Regular';
      font-size: 20px;
      color: rgba(1, 22, 39, 0.6);
      letter-spacing: 0.25px;
    }
  }
}
