<section id="tickets" class="tickets">
  <h1 class="topic text-center">Tickets</h1>
  <div class="container">
    <div class="row">
      <div class="col-auto col-md-6">
        <div class="tickets-wrapper">
          <h2 class="title text-center">專家演講</h2>
          <p class="date text-center">11/20 Tue</p>
        </div>

      </div>
      <div class="col-auto col-md-6">
        <div class="tickets-wrapper">
          <h2 class="title text-center">工作坊</h2>
          <p class="date text-center">11/21 Sun</p>
        </div>

      </div>
    </div>
  </div>
</section>
