<div class="ticket-base" [ngClass]="{'isIE': isIE}">
  <ng-container *ngIf="ticket.ribbonText">
    <div class="ribbon-upper"></div>
    <div class="ribbon-body">
      <span class="ribbon-text">{{ticket.ribbonText}}</span>
    </div>
    <div class="ribbon-lower"></div>
  </ng-container>
  <div class="ticket d-flex">
    <div class="ticket-wrapper ticket-left">
      <div class="left-block d-flex flex-column justify-content-center">
        <div *ngIf="ticket.desc !== undefined" class="timestamp">{{ticket.desc}}</div>
        <div *ngIf="isIE && ticket.ribbonText" class="timestamp ribbon-text">{{ticket.ribbonText}}</div>
        <div class="event d-flex align-items-center">
          <div>{{ticket.title}}</div>
          <mat-icon svgIcon="help" class="ml-2 help d-none d-sm-inline-block" color="primary" [matTooltip]="ticket.tooltip" *ngIf="ticket.tooltip"
            [matTooltipDisabled]="!ticket.tooltip" matTooltipClass="ticket-tooltip" matTooltipPosition="right"></mat-icon>
        </div>
      </div>
    </div>
    <div class="ticket-wrapper ticket-right d-flex justify-content-center align-items-center">
      <div class="price text-center"> {{ticket.price | currency:'':'symbol':'1.0-0'}}</div>
    </div>
  </div>
</div>
