<section id="location" class="location">
    <h1 class="topic text-center">Location</h1>
    <div class="container">
      <mat-card class="map">
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.8629259618383!2d121.51648511444647!3d25.038725483970136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442a975c13ae63d%3A0x99f529730969be7f!2z5by15qau55m85Z-66YeR5pyD!5e0!3m2!1szh-TW!2stw!4v1528302060246"
            width="100%"
            height="100%"
            frameborder="0"
            style="border:0"
            allowfullscreen>
          </iframe>
      </mat-card>
      <div class="info">
        <div class="info_card d-flex flex-column">
          <div class="info_card_content">
            <h5>張榮發基金會國際會議中心<br>1101會議廳</h5>
            <p>台北市中正區中山南路11號</p>
          </div>
          <mat-card-actions class="info_card_action">
            <button mat-button color="primary">前往地圖</button>
          </mat-card-actions>
        </div>
        <div class="info_card d-flex flex-column">
          <div class="info_card_content d-flex flex-row">
            <div class="info_card_content_item">
              <h5>捷運</h5>
              <p>搭乘 淡水信義線<br>抵達 台大醫院捷運站<br>步行5分鐘</p>
            </div>
            <div class="info_card_content_item">
              <h5>公車</h5>
              <p>搭乘 37、230、630、仁愛幹線<br>抵達 仁愛中山路口<br>步行3分鐘</p>
            </div>
          </div>
          <mat-card-actions class="info_card_action">
            <button mat-button color="primary">規劃路線</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
</section>
