<section id="location">
  <div class="contacts-wrapper">
    <agm-map id="contacts-map" [latitude]="lat" [longitude]="lng" class="map" [zoom]=15 class="map">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <div class="container contacts-on-map-container">
      <div class="contacts-on-map">
        <h3>台中麗寶</h3>

        <ul class="list">
          <li>
            <i class="fa fa-map-marker"></i>421台中市後裡區福容路88號</li>
          <li>
            <i class="fa fa-phone"></i>886-4-2559-2888</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="contacts-wwrapper section">
    <div class="container">
      <h3>交通資訊</h3>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th>方式</th>
              <th>詳細資訊</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>高鐵</td>
              <td>搭到高鐵台中站 → 155路公車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>客運</td>
              <td>統聯台北到豐原/東勢班車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>客運</td>
              <td>搭車到統聯朝馬站 → 155路公車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>火車</td>
              <td>搭到豐原火車站 → 豐原客運 215路公車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>火車</td>
              <td>搭到後裡火車站 → 155路公車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>公車</td>
              <td>豐原客運站 → 豐原客運 215路公車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>公車</td>
              <td>豐原客運站 → 豐客 92 / 212 / 213路公車到月眉糖廠 → 麗寶樂園渡假園區免費接駁車 直達麗寶樂園渡假園區</td>
            </tr>
            <tr>
              <td>開車</td>
              <td>國道一號後裡交流道 → 約5 分鐘直達麗寶</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
