<section class="intro">
  <div class="shadow-101"></div>
  <img class="building-101" src="/assets/images/intro101.svg">
  <div class="h-100 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <header class="px-2 offset-md-2 offset-lg-5">
          <div class="desc">Advance conference about</div>
          <div class="title">
            <img width="72px" height="72px" src="/assets/images/logo.svg">
            <h1>ngular</h1>
            <h1 class="pl-sm-3">development</h1>
          </div>
          <app-countdown [endDate]="eventDate"></app-countdown>
        </header>
      </div>
    </div>
  </div>
</section>
