<section class="intro">
  <!-- <div class="build-101">
    <div class="shadow-101"></div>
    <img class="building-101" src="/assets/images/intro101.svg">
  </div> -->
  <!-- <div> -->
  <!-- <img src="/assets/images/logo.svg" alt="angualr.tw"> -->
  <!-- </div> -->
  <div class="bk-img"></div>
  <div class="h-100 d-flex align-items-center">
    <div class="container">
      <div class="row mt-md-1 justify-content-center">
        <div class="title-box col-12 d-flex justify-content-center">
          <div class="codeLeft">
            <img class="codeLeft_img" src="/assets/images/codeLeft.svg">
          </div>
          <header class="d-flex flex-column justify-content-center align-items-center mx-1 ml-sm-3 ml-md-4 ml-lg-5">
            <div class="desc d-none d-sm-flex flex-column flex-sm-row">
              The first Angular conference
              <strong class="ml-0 ml-sm-2 mt-2 mt-sm-0">in Taiwan !</strong>
            </div>
            <div class="title">
              <h1>ng-tw 2018</h1>
            </div>
          </header>
          <div class="codeRight">
            <img class="codeRight_img" src="/assets/images/codeRight.svg">
          </div>
        </div>
        <div class="col-12 d-flex d-sm-none justify-content-center desc">
          The first Angular conference
          <strong class="ml-2">in Taiwan !</strong>
        </div>
        <div class="d-flex flex-column">
          <div class="detail col-auto d-flex flex-column flex-md-row align-items-center">
            <p class="detail_time">2018/11/16</p>
            <div class="detail_divider"></div>
            <p class="detail_location">張榮發基金會國際會議中心
              <br>1101 會議廳</p>
          </div>
          <div class="detail col-auto d-flex flex-column flex-md-row align-items-center">
            <p class="detail_time">2018/11/17</p>
            <div class="detail_divider"></div>
            <p class="detail_location">淡江大學台北校區
              <br>D504 D506教室</p>
          </div>
        </div>
        <div class="detail col-12 d-flex flex-column flex-md-row align-items-center justify-content-center">
          <p class="detail_time">2018/11/17
            <br/> 工作坊
          </p>
          <div class="detail_divider"></div>
          <p class="detail_location">淡江大學台北校區
            <br>D504、D506</p>
        </div>
        <!-- <app-countdown class="my-1 offset-md-3 col-12 col-md-6" [endDate]="eventDate"></app-countdown> -->
      </div>
    </div>
  </div>
  <a href="#second">
    <span class="scroll-down"></span>
  </a>
</section>
