.section {
  max-width: 720px;
  max-height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  @media screen and (max-width: 720px) {
    flex-wrap: wrap;
  }
  .thumb-link {
    .photo-wrapper {
      overflow: hidden;
      margin: 0 0 24px 0;
      background: tomato;
      margin: 5px;
      color: white;
      flex: 1 0 auto;
      border-radius: 50%;
      margin-bottom: 20px;
      &::before {
        content: "";
        float: left;
        padding-top: 100%;
      }
      img {
        width: 100%;
        transform: scale(1.1);
      }
    }
  }
  .speaker-link {
    text-align: center;
    margin: 5px auto;
  }
}
