<section id="speakers-modal" class="section align-center">
  <div class="thumb-link col-md-4">
    <div class="photo-wrapper">
      <img src="assets/images/speakers/speaker1.jpg" alt="John Doe" class="img-responsive">
    </div>
    <div class="speaker-link">
        <button class="speaker-link col-md-12" mat-stroked-button color="primary">Primary</button>
        <button class="speaker-link col-md-12" mat-stroked-button color="primary">Primary</button>
        <button class="speaker-link col-md-12" mat-stroked-button color="primary">Primary</button>
    </div>
  </div>
  <div class="speaker-info col-md-8">
    <h2>speaker name</h2>
    <ul>
      <li>title-one</li>
      <li>title-two</li>
      <li>title-three</li>
    </ul>
    <p class="description col-md-12">
      here is description...
    </p>
  </div>
</section>
