.section {
  width: 740px;
  display: flex;
  flex-direction: row;
  align-items: start;
  .thumb-link {
    .photo-wrapper {
      border-radius: 100%;
      overflow: hidden;
      height: 200px;
      margin: 0 0 24px 0;
      img {
        width: 100%;
      }
    }
    .speaker-link {
      margin-bottom: 10px;
    }
  }
}
