<section class="footer">
  <div class="container">

    <div class="col-md-4">
      <div class="widget about-widget">
        <h6 class="widget-head">About
          <span class="highlight">Angular Taiwan</span>
        </h6>
        <p class="text-alt">
          <small>Angular User Group Taiwan 是一個位於台灣並專注於 Angular 網站開發框架的開放社團，任何人都可以自由加入社團，無須管理者批准，只要有任何一位社團成員審核即可。在這個社團內大家可以盡情的發布任何與
            Angular 有關的文章、課程、影片，或是提出任何相關 Angular 相關的問題與討論。</small>
        </p>
      </div>
    </div>

    <div class="col-md-4 col-lg-3 col-lg-offset-1">
    </div>

    <div class="col-md-4 col-lg-3 col-lg-offset-1">
    </div>

  </div>

  <div class="footer-base">
    <div class="container">

      <div class="col-md-6">
      </div>

      <div class="col-md-6 align-right">
        <ul class="socials-nav align-right">
          <li class="socials-nav-item">
            <a href="https://www.facebook.com/groups/augularjs.tw/">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://github.com/augt">
              <span class="fa fa-github"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.youtube.com/c/AngularUserGroupTaiwan">
              <span class="fa fa-youtube"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://telegram.me/angulartw">
              <span class="fa fa-telegram"></span>
            </a>
          </li>
        </ul>

        <p class="text-alt">
          <small>All Rights Reserved © 2017</small>
        </p>
      </div>

    </div>
  </div>
</section>
